<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JC_YaTaxi"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.driver_screens.registerdrivername.RegisterDriverName"
            android:exported="false"
            android:label="@string/title_activity_register_driver_name"
            android:theme="@style/Theme.JC_YaTaxi" />
        <activity
            android:name=".ui.driver_screens.DriverActivity"
            android:exported="false"
            android:label="@string/title_activity_driver"
            android:theme="@style/Theme.JC_YaTaxi" />
        <activity
            android:name=".ui.screens.login.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.JC_YaTaxi" />
        <activity
            android:name=".ui.screens.home.HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.JC_YaTaxi" />
        <activity
            android:name=".ui.screens.registername.RegisterNameActivity"
            android:exported="false"
            android:label="@string/title_activity_register"
            android:theme="@style/Theme.JC_YaTaxi" />
        <activity
            android:name=".ui.screens.otp.OTPVerificationActivity"
            android:exported="false"
            android:label="@string/title_activity_otpverification"
            android:theme="@style/Theme.JC_YaTaxi" />
        <activity
            android:name=".ui.screens.register.RegisterActivity"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.JC_YaTaxi"
            android:windowSoftInputMode="adjustUnspecified" />
        <activity
            android:name=".ui.screens.onboard.OnboardingActivity"
            android:exported="false"
            android:label="@string/title_activity_onboarding"
            android:theme="@style/Theme.JC_YaTaxi" />
        <activity
            android:name=".ui.screens.change.ChangeActivity"
            android:exported="false"
            android:label="@string/title_activity_change"
            android:theme="@style/Theme.JC_YaTaxi" />
        <activity
            android:name=".ui.screens.splash.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.JC_YaTaxi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>